# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kevin\OneDrive\Desktop\Java Saves\SI Sem 4\Week 5-10\Project2\MobileRobotProgramming\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
